#contentProducts h1 {
    color: rgb(86, 87, 88);
    margin-bottom: 24px;
    font-size: 38px;
    margin-left: 16px;
}

#contentProducts .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-radius: 5px;
    margin: 0 auto;
}

#contentProducts .product {
    height: 100px;
    display: block;
    padding: 0;
    width: 250px;
    height: 314px;
    border-radius: 5px;
    margin: 16px 16px;
    cursor: pointer;
    transition: .3s;
}

#contentProducts .product:hover {
    transform: scale(1.02);
}

#contentProducts .imagem {
    height: 73%;
    width: 100%;
}

#contentProducts img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#contentProducts .preco {
    display: flex;
    align-items: center;
    height: 27%;

}

#contentProducts .preco p {
    margin-left: 16px;
    font-size: 22px;
    font-weight: 600;
    color:  rgb(86, 87, 88);
}

