#PerfilUser {
    width: 100%;
    display: flex;
    justify-content: center;
    color: rgb(86, 87, 88);
}

#infosPerfil {
    background-color: white;
    margin-top: 50px;
    width: 600px;
    max-width: 80%;
    padding: 20px;
    border-radius: 5px;
}

#user {
    border-bottom: 2px solid #F6F5F4;
    padding: 5px 5px 12px 5px;
    text-align: center;
    border-radius: 3px;
}

#navUser {
    display: block;
}

.link {
    color: rgb(86, 87, 88);
    text-decoration: none;
    display: block;
    margin: 20px 0;
    padding: 20px 10px;
    font-weight: 500;
    font-size: 22px;
    transition: all .3s;
    border-radius: 5px;
}

.link:hover {
    background-color: #307351;
    color: white;
}

