

.sucess, .failed {
    width: 300px;
    max-width: 40%;
    height: 70px;
    background-color:seagreen;
    padding: 8px;
    border-radius: 6px;

    box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.349);

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 85vh auto 0 auto;
    z-index: 5;

    transform: translateY(150px);
    transition: 1s;
}

.failed {
    background-color:rgb(207, 48, 48);
}

.sucess p, .failed p {
    color:white;
    font-weight: 600;
    font-size: 20px;
}

.sucess .icon, .failed .icon {
    color: white;
    width: 50px;
    font-size: 24px;
}


/*#sucess button{
    color: white;
    background-color: #307351;
    border: none;
    border-radius: 5px;
    padding: 10px 12px;
    width: 30%;
    min-width: 140px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    transition: filter .3s;
}

#sucess button:hover {
    filter: brightness(.9);
}*/

.hiddenSucess {
    transform: translateY(150px);
    transition: 1s;
}

.showSucess {
    transform: translateY(0px) !important;   
    transition: 1s;
}