#contentComentarios {
    grid-area: comentarios;
    padding: 0 30px 30px 30px;
    margin-top: 24px;
}

#contentComentarios #newComentario {
    display: flex;
    align-items: center;
    margin-top: 42px;
}

.imgUser {
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.imgUser img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

#contentComentarios form {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
}

#contentComentarios input {
    height: 100%;
    width: 80%;
    margin-left: 16px;
    font-size: 16px;
    outline: none;
    padding: 5px;
    border: 2px solid  #28945c;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#contentComentarios button {
    background-color: #28945c;
    color: white;
    border: none;
    outline: none;
    padding: 0 16px;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    font-weight: 500;
    font-size: 20px;
    
    cursor: pointer;
    transition: .3s;
}

#contentComentarios button:hover {
    filter: brightness(.95)
}

#comentarios h2 {
    margin-bottom: 32px;
    font-size: 40px;
    color: rgb(86, 87, 88);
}

#contentComentarios .comentario {
    display: flex;
    align-items: center;
}

#contentComentarios .comentario + .comentario {
    margin-top: 24px;
}

.comentarioUser {
    margin-left: 16px;
}

.comentario h3 {
    color: rgb(42, 42, 43);
}

.comentario p {
    color: rgb(86, 87, 88);
}