#login {
    width: 100%;
    color: rgb(86, 87, 88);
}

#login #form {
    width: 50%;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 8px;
    background-color: white;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

#login form {
    min-width: 100%;
}

#login input {
    border: none;
    border-radius: 5px;
    background-color: #F6F5F4;
    width: 100%;
    max-width: 100%;
    color:  rgb(86, 87, 88);
    font-size: 17px;
    padding: 10px;
}

#login label {
    font-weight: 500;
    margin-bottom: 20px;
}

#login br {
    line-height: 30px;
}

#login .campo {
    margin: 30px 0;
    width: 400px;
    max-width: 100%;
}

#login button {
    background-color: #307351;
    color: white;
    border: none;
    border-radius: 8px;
    width: 100%;
    padding: 15px 0;
    font-weight: 600;
    font-size: 18px;
    justify-self: center;
    margin-bottom: 30px;
    cursor: pointer;
    transition: .4s;
}

#login button:hover {
    filter: brightness(.92);
}


@media (max-width: 700px) {
    #form {
        width: 80%;
        max-width: 80%;
    }
}

@media (max-width: 400px) {
    #form {
        width: 90%;
        max-width: 90%;
    }
}