.divSearch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
    width: 60%;
    height: 40px;
    max-height: 40px;
    margin: 0 auto;
    margin-top: 24px;
}

#iconSearch {
    color: #307351;
    padding-right: 10px;
    font-size: 30px;
    cursor: pointer;
}



.divSearch input {
    background-color: white;
    width: 90%;
    padding-left: 5px;
    height: 100%;
    color: #8A8E93;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 18px;
}

.divSearch span {
    color:rgb(86, 87, 88);
}

#home #contentProducts {
    margin-bottom: 50px;
}

#home #contentProducts .divContentProduct {
    display: flex;
    align-items: center;
    justify-content: center;
}

#home #contentProducts .seta {
    font-weight: 600;
    color: #307351;
    margin-top: 20px;
    font-size: 60px;
    cursor: pointer;
    transition: .3s;
}

#home #contentProducts .seta:hover {
    transform: scale(1.1);
}

#home #contentProducts section {
    width: 85%;
    margin-top: 50px;
    background-color: #F6F5F4;
}

#home #contentProducts h1 {
    color: #327a55;
    margin-bottom: 24px;
    font-size: 38px;
    margin-left: 16px;
}

#home #contentProducts .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-radius: 5px;
    margin: 0 auto;
}

#home #contentProducts .product {
    height: 100px;
    display: block;
    padding: 0;
    width: 250px;
    height: 314px;
    border-radius: 5px;
    margin: 16px 16px;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.349);
}

#home #contentProducts .product:hover {
    transform: scale(1.02);
    box-shadow: 0px 1px 10px 6px rgba(0, 0, 0, 0.363);
}

#home #contentProducts .imagem {
    height: 73%;
    width: 100%;
}

#home #contentProducts img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#home #contentProducts .preco {
    display: flex;
    align-items: center;
    height: 27%;

}

#home #contentProducts .preco p {
    margin-left: 16px;
    font-size: 22px;
    font-weight: 600;
    color: #307351;
}



#home .link {
    text-decoration: none;
}

