#showProduct {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}

#showProduct #imagem {
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    flex: 1;
    margin-right: 16px;
}

#showProduct img {
    height: 100%;
    width: 100%;
    object-fit: cover;
} 

#infosSide {
    color: rgb(86, 87, 88);
    padding: 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#infosSide h1 {
    font-size: 60px;
    color: #28945c;
}

#infosSide h2{
    margin-top: 16px;
    font-size: 32px;
}

#infosSide h3 {
    text-align: justify;
    margin-top: 64px;
    font-weight: 500;
    margin-left: 8px;
}

#spans {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
}