#userProdutos {
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    color: rgb(86, 87, 88);
}

.product {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: white;
    border-radius: 5px;
    max-width: 80%;
    margin: 0px auto 40px;
    position: relative;
    cursor: pointer;
}

.delete {
    position: absolute;
    top: 8px;
    right: 16px;
    font-weight: 600;
    color: rgb(86, 87, 88);
    cursor: pointer;
    transition: color .3s;
}

.delete:hover {
    color: red;
}

.productPic {
    width: 45%;
    max-width: 45%;
    min-height: 300px;
    margin-right: 24px;
    margin-left: 24px;
    border-radius: 5px;
}

.productPic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.productInfo {
    margin-left: 20px;
    padding: 10px 20px 10px 0;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.productBaixo {
    display: flex;
    margin-top: 20px;
}

.productCima p {
    margin-top: 20px;
    font-weight: 500;
    font-size: 17px;
}

.productBaixo p + p {
    margin-left: 20px;
}

#buttonUserProduto {
    width: 100%;
    display: flex;
    justify-content: center;
}

#buttonUserProduto button {
    background-color: seagreen;
    color: white;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    margin: 0 auto;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .5s;
}

#buttonUserProduto button:hover {
    filter: brightness(.90);
}