#userProdutos {
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    color: rgb(86, 87, 88);
}

#userProdutos .product {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: white;
    border-radius: 5px;
    max-width: 80%;
    margin: 0px auto 40px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.096);
}

#userProdutos .delete {
    position: absolute;
    top: 8px;
    right: 16px;
    font-weight: 600;
    color: rgb(86, 87, 88);
    cursor: pointer;
    transition: color .3s;
}

#userProdutos .delete:hover {
    color: red;
}

#userProdutos .productPic {
    width: 45%;
    max-width: 45%;
    min-height: 300px;
    margin-right: 24px;
    margin-left: 24px;
    border-radius: 5px;
}

#userProdutos .productPic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

#userProdutos .productInfo {
    margin-left: 20px;
    padding: 10px 20px 10px 0;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

#userProdutos .productBaixo {
    display: flex;
    margin-top: 20px;
}

#userProdutos .productCima p {
    margin-top: 20px;
    font-weight: 500;
    font-size: 17px;
}

#userProdutos .productBaixo p + p {
    margin-left: 20px;
}

#userProdutos #buttonUserProduto {
    width: 100%;
    display: flex;
    justify-content: center;
}

#userProdutos #buttonUserProduto button {
    background-color: seagreen;
    color: white;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    margin: 0 auto;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .5s;
}

#userProdutos #buttonUserProduto button:hover {
    filter: brightness(.90);
}