header {
    background-color: #307351;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}


ul {
    list-style: none;
    display: flex;
   
}

#nav li {
    margin: 0 15px;
    font-weight: 700;
    cursor: pointer;
    font-size: 18px;
}

.linkHeader {
    color: white;
    text-decoration: none;
}

#categorias {
    background-color: #327a55;
    color: white;
    padding: 12px 0;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#categorias ul li {
    font-weight: 500;
    margin: 0 30px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

