* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #F6F5F4;
    overflow-x: hidden; 
}

body::-webkit-scrollbar {
    width: 6px;
  }


::-webkit-scrollbar-thumb {
    background-color: #28945c;
    border-radius: 5px;
}
