#mainProduct {
    display: grid;
    grid-template-areas: 
    "img infos"
    "comentarios side";
    grid-template-columns: 2fr 1.1fr;


    width: 80%;
    margin: 42px auto;
    background-color: white;
    border-radius: 5px;
}


#mainProduct #imagem {
    grid-area: img;
    padding: 30px;
    border-bottom: 2px solid #d3d3d2;
    border-radius: 5px;
}

#mainProduct #imagem img {
    width: 100%;
    max-height: 100%;
    border-radius: 5px;
    object-fit: cover;
} 

#mainProduct #infosSide {
    grid-area: infos;
    color: rgb(86, 87, 88);
    padding: 42px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-left: 2px solid #d3d3d2;
    border-bottom: 2px solid #d3d3d2;
}

#infosSide h1 {
    font-size: 60px;
    color: #28945c;
}

#infosSide h2{
    margin-top: 16px;
    font-size: 32px;
}

#infosSide h3 {
    text-align: justify;
    margin-top: 32px;
    font-weight: 500;
    margin-left: 8px;
}

#spans {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    margin-bottom:16px;
    text-align: center;
}

#spans p {
    margin: 0 8px;
}

#productsSide{
    grid-area: side;
    border-left: 2px solid #d3d3d2;
}

#productsSide h1 {
    font-size: 40px;
    color: rgb(86, 87, 88);
    margin-top: 24px;
    text-align: center;
}

#productsSide .link {
    display: flex;
    justify-content: flex-start;

    color: #28945c;
    text-decoration: none;

    width: 100%;
    margin: 0 auto;
}

#productsSide * {
    margin: 0;
    padding: 0;
}

#productsSide .product {
    margin: 30px auto;
    padding: 0 30px;
}


#productsSide .imagem{
    width: 100px;
    height: 100px;
}

#productsSide .imagem img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#productsSide .preco {
    margin-left: 20px;
    margin-top: 5px;
    font-size: 20px;
    font-weight: 500;
}

#buttonsProduct {
    grid-area: buttons;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 24px;
}

#buttonsProduct button{
    background-color: #28945c;
    color: white;
    border: none;
    outline: none;
    flex: 1;
    height: 50px;
    padding: 10px 12px;
    margin: 5px 10px;
    border-radius: 5px;

    font-weight: 500;
    font-size: 24px;
    
    cursor: pointer;
    transition: .3s;
}

#buttonsProduct button:hover {
    filter: brightness(.95);
}

#productsSide .seta {
    display: none;
}

@media(max-width: 1200px) {
    #mainProduct {
        grid-template-areas: 
        "img"
        "infos"
        "comentarios"
        "side";
        grid-template-columns: 1fr;
    }

    #mainProduct #infosSide {
        border-left: none;
    }

    #productsSide {
        border-left: none;
        border-top: 3px solid #d3d3d2;
    }
}

@media (max-width: 400px) {
    #infosSide h3 {
        font-size: 14px;
    }
    #productsSide h1 {
        font-size: 24px;
    }    

    #contentComentarios h2 {
        font-size: 24px !important;
        text-align: center;
    }
}
